/* Global Styles */
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0 auto;
    background: rgba(222, 222, 222, 0.3) url("../images/pattern1.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-image: url("../images/header.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 159px;
}

/* Logo */
.logo {
    text-align: center;
    position: absolute;
    color: #ffffff;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
}

.italic {
    font-style: italic;
}

/* Navigation */
.nav-menu {
    height: 72px;
    margin-left: 250px;
}

.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.nav-menu a:hover {
	  color: yellow;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}

.nav-menu li {
    margin: 50px 10px 5px 20px;
}

/* Main Image Styles */
.main-image {
    background-image: url("../images/main-image.png");
    height: 200px;
    background-size: cover;
    background-position: center;
}

.section {
    width: 100%;
    height: 758px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.section article {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.section h2 {
    margin: 45px 0 0 0;
    color: #cc9900;
    font-size: 36px;
    font-weight: 400;
    user-select: none;
    cursor: default;
    overflow: hidden;
    max-height: 90px;
    text-align: center;
}

.section p {
    margin: 25px 0;
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
}

/* Image Styles */
.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

/* Specific Section Styles */
.about {
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    overflow: hidden;
    height: auto;
    top: 0;
}

.about article {
    height: 500px;
}

.trainers {
    height: 100%;
    padding-top: 75px;
}

.trainers article {
    display: flex;
}

.trainers-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainers-picture img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.09);
}

.diagnosis-image {
    background-image: url("../images/diagnosis.png");
    width: 100%;
    height: 345px;
}

.training-image {
    background-image: url("../images/main-image.png");
    width: 100%;
    height: 250px;
}

.insights-image {
    background-image: url("../images/insights.png");
    width: 310px;
    height: 300px;
    border-radius: 50%;
    border: 5px sod rgba(255, 255, 255, 0.09);
}

.workshops-image {
    background-image: url("../images/workshops.png");
    width: 500px;
    height: 400px;
}

.coaching-image {
    background-image: url("../images/coaching.png");
    width: 500px;
    height: 400px;
}

.contact-image {
    background-image: url("../images/contact.png");
    width: 700px;
    height: 500px;
}

.trainers,
.diagnosis,
.training,
.insights,
.coaching {
    background-color: rgba(0, 0, 0, 0.58);
}

.trainers > article > div > h2,
.trainers > article > div > h3,
.trainers > article > div > p,
.diagnosis > article > h2,
.diagnosis > article > p,
.training > article > h2,
.training > article > p,
.insights > article > h2,
.insights > article > p,
.coaching > article > h2,
.coaching > article > p {
    color: #ffffff;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
