/* Global Styles */
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0 auto;
    background: rgba(222, 222, 222, 0.3) url("../images/pattern1.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url("../images/header.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 159px;
}

/* Logo */
.logo {
    text-align: center;
    position: absolute;
    color: #ffffff;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
}

.italic {
    font-style: italic;
}

/* Navigation */
.nav-menu {
    height: 72px;
    margin-left: 250px;
}

.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.nav-menu a:hover {
	  color: #cc9900;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}

.nav-menu li {
    margin: 50px 10px 5px 20px;
}

/* Main Styles */
.general-information {
    background-image: url("../images/main-image.png");
    height: 200px;
    background-size: cover;
    background-position: center;
}

.container {
    min-height: 700px;
    text-align: center;
}

.container h2 {
    padding-top: 100px;
    margin-bottom: 20px;
    color: #cc9900;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.block-100 {
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.text-block-50 {
    width: calc(50% - 10px);
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    order: 1;
}

.image-block-50 {
    width: calc(50% - 10px);
    float: right;
    padding: 20px;
    box-sizing: border-box;
    order: 2;
}

.text-block-70 {
    width: calc(70% - 10px);
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    order: 1;
}

.image-block-30 {
    width: calc(30% - 10px);
    float: right;
    padding: 20px;
    box-sizing: border-box;
    order: 2;
}

.image-border {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.09);
}

.block-100 img,
.image-block-50 img,
.image-block-30 img {
    max-width: 100%;
    height: auto;
}

/* Dark theme */
.dark-theme {
    background-color: rgba(0, 0, 0, 0.58);
    color: #ffffff;
}

.dark-theme h2 {
    color: #ffffff;

} 

/* Footer */
footer {
    background: #333;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile phones */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .text-block-50,
    .image-block-50,
    .text-block-70,
    .image-block-30 {
        width: 100%;
        order: 0;
    }

    .text-block-50,
    .image-block-30 {
        order: 1;
    }

    .image-block-50,
    .text-block-70 {
        order: 2;
    }
}
